In [2]:
import pandas as pd
ms = pd.read_csv('midwest.csv')

##### 1. midwest.csv를 불러와서 데이터 파악해보기

In [3]:
ms.head()

,PID,county,state,area,poptotal,popdensity,popwhite,popblack,popamerindian,popasian,...,percollege,percprof,poppovertyknown,percpovertyknown,percbelowpoverty,percchildbelowpovert,percadultpoverty,percelderlypoverty,inmetro,category
0,561,ADAMS,IL,0.052,66090,1270.961540,63917,1702,98,249,...,19.631392,4.355859,63628,96.274777,13.151443,18.011717,11.009776,12.443812,0,AAR
1,562,ALEXANDER,IL,0.014,10626,759.000000,7054,3496,19,48,...,11.243308,2.870315,10529,99.087145,32.244278,45.826514,27.385647,25.228976,0,LHR
2,563,BOND,IL,0.022,14991,681.409091,14477,429,35,16,...,17.033819,4.488572,14235,94.956974,12.068844,14.036061,10.852090,12.697410,0,AAR
3,564,BOONE,IL,0.017,30806,1812.117650,29344,127,46,150,...,17.278954,4.197800,30337,98.477569,7.209019,11.179536,5.536013,6.217047,1,ALU
4,565,BROWN,IL,0.018,5836,324.222222,5264,547,14,5,...,14.475999,3.367680,4815,82.505140,13.520249,13.022889,11.143211,19.200000,0,AAR

In [4]:
ms.tail()

,PID,county,state,area,poptotal,popdensity,popwhite,popblack,popamerindian,popasian,...,percollege,percprof,poppovertyknown,percpovertyknown,percbelowpoverty,percchildbelowpovert,percadultpoverty,percelderlypoverty,inmetro,category
432,3048,WAUKESHA,WI,0.034,304715,8962.205880,298313,1096,672,2699,...,35.396784,7.667090,299802,98.387674,3.121060,3.785820,2.590061,4.085479,1,HLU
433,3049,WAUPACA,WI,0.045,46104,1024.533330,45695,22,125,92,...,16.549869,3.138596,44412,96.330036,8.488697,10.071411,6.953799,10.338641,0,AAR
434,3050,WAUSHARA,WI,0.037,19385,523.918919,19094,29,70,43,...,15.064584,2.620907,19163,98.854785,13.786985,20.050708,11.695784,11.804558,0,AAR
435,3051,WINNEBAGO,WI,0.035,140320,4009.142860,136822,697,685,1728,...,24.995504,5.659847,133950,95.460376,8.804031,10.592031,8.660587,6.661094,1,HAU
436,3052,WOOD,WI,0.048,73605,1533.437500,72157,90,481,722,...,21.666382,4.583725,72685,98.750085,8.525831,11.162997,7.375656,7.882918,0,AAR

In [5]:
ms.shape

(437, 28)

In [6]:
ms.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 437 entries, 0 to 436
Data columns (total 28 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   PID                   437 non-null    int64
 1   county                437 non-null    object
 2   state                 437 non-null    object
 3   area                  437 non-null    float64
 4   poptotal              437 non-null    int64
 5   popdensity            437 non-null    float64
 6   popwhite              437 non-null    int64
 7   popblack              437 non-null    int64
 8   popamerindian         437 non-null    int64
 9   popasian              437 non-null    int64
 10  popother              437 non-null    int64
 11  percwhite             437 non-null    float64
 12  percblack             437 non-null    float64
 13  percamerindan         437 non-null    float64
 14  percasian             437 non-null    float64
 15  percother             437 non-null    float64
 16  popadults             437 non-null    int64
 17  perchsd               437 non-null    float64
 18  percollege            437 non-null    float64
 19  percprof              437 non-null    float64
 20  poppovertyknown       437 non-null    int64
 21  percpovertyknown      437 non-null    float64
 22  percbelowpoverty      437 non-null    float64
 23  percchildbelowpovert  437 non-null    float64
 24  percadultpoverty      437 non-null    float64
 25  percelderlypoverty    437 non-null    float64
 26  inmetro               437 non-null    int64
 27  category              437 non-null    object
dtypes: float64(15), int64(10), object(3)
memory usage: 95.7+ KB

In [7]:
ms.describe()

,PID,area,poptotal,popdensity,popwhite,popblack,popamerindian,popasian,popother,percwhite,...,perchsd,percollege,percprof,poppovertyknown,percpovertyknown,percbelowpoverty,percchildbelowpovert,percadultpoverty,percelderlypoverty,inmetro
count,437.000000,437.000000,4.370000e+02,437.000000,4.370000e+02,4.370000e+02,437.000000,437.000000,437.000000,437.000000,...,437.000000,437.000000,437.000000,4.370000e+02,437.000000,437.000000,437.000000,437.000000,437.000000,437.000000
mean,1437.338673,0.033169,9.613030e+04,3097.742985,8.183992e+04,1.102388e+04,343.109840,1310.464531,1612.931350,95.558441,...,73.965546,18.272736,4.447259,9.364228e+04,97.110267,12.510505,16.447464,10.918798,11.389043,0.343249
std,876.390266,0.014679,2.981705e+05,7664.751786,2.001966e+05,7.895827e+04,868.926751,9518.394189,18526.540699,7.087358,...,5.843177,6.261908,2.408427,2.932351e+05,2.749863,5.150155,7.228634,5.109166,3.661259,0.475338
min,561.000000,0.005000,1.701000e+03,85.050000,4.160000e+02,0.000000e+00,4.000000,0.000000,0.000000,10.694087,...,46.912261,7.336108,0.520291,1.696000e+03,80.902441,2.180168,1.918955,1.938504,3.547067,0.000000
25%,670.000000,0.024000,1.884000e+04,622.407407,1.863000e+04,2.900000e+01,44.000000,35.000000,20.000000,94.886032,...,71.325329,14.113725,2.997957,1.836400e+04,96.894572,9.198715,11.624088,7.668009,8.911763,0.000000
50%,1221.000000,0.030000,3.532400e+04,1156.208330,3.447100e+04,2.010000e+02,94.000000,102.000000,66.000000,98.032742,...,74.246891,16.797562,3.814239,3.378800e+04,98.169562,11.822313,15.270164,10.007610,10.869119,0.000000
75%,2059.000000,0.038000,7.565100e+04,2330.000000,7.296800e+04,1.291000e+03,288.000000,401.000000,345.000000,99.074935,...,77.195345,20.549893,4.949324,7.284000e+04,98.598636,15.133226,20.351878,13.182182,13.412162,1.000000
max,3052.000000,0.110000,5.105067e+06,88018.396600,3.204947e+06,1.317147e+06,10289.000000,188565.000000,384119.000000,99.822821,...,88.898674,48.078510,20.791321,5.023523e+06,99.860384,48.691099,64.308477,43.312464,31.161972,1.000000