##### 2. poptotal -> total로, popasian -> asian으로 수정하기

In [1]:
import pandas as pd
ms = pd.read_csv('midwest.csv')

In [3]:
ms_new = ms.copy() # 복사본 만들기
ms_new = ms_new.rename(columns = {'poptotal' : 'total'})

In [4]:
ms_new = ms_new.rename(columns = {'popasian' : 'asian'})

##### 3. 2번에서 만든 변수를 활용해 파생변수 추가하기

In [5]:
ms_new['ratio'] = (ms_new['asian'] / ms_new['total']) * 100

##### 4. ratio의 전체 평균 구하고, 평균 초과 시 large, 그 외에는 small을 부여한 파생변수 추가하기

In [7]:
ms_new['ratio'].describe()

count    437.000000
mean       0.487246
std        0.627856
min        0.000000
25%        0.173739
50%        0.297170
75%        0.521161
max        5.070452
Name: ratio, dtype: float64

In [8]:
import numpy as np

ms_new['group'] = np.where(ms_new['ratio']>0.487246, 'large', 'small')
ms_new.head()

,PID,county,state,area,total,popdensity,popwhite,popblack,popamerindian,asian,...,poppovertyknown,percpovertyknown,percbelowpoverty,percchildbelowpovert,percadultpoverty,percelderlypoverty,inmetro,category,ratio,group
0,561,ADAMS,IL,0.052,66090,1270.961540,63917,1702,98,249,...,63628,96.274777,13.151443,18.011717,11.009776,12.443812,0,AAR,0.376759,small
1,562,ALEXANDER,IL,0.014,10626,759.000000,7054,3496,19,48,...,10529,99.087145,32.244278,45.826514,27.385647,25.228976,0,LHR,0.451722,small
2,563,BOND,IL,0.022,14991,681.409091,14477,429,35,16,...,14235,94.956974,12.068844,14.036061,10.852090,12.697410,0,AAR,0.106731,small
3,564,BOONE,IL,0.017,30806,1812.117650,29344,127,46,150,...,30337,98.477569,7.209019,11.179536,5.536013,6.217047,1,ALU,0.486918,small
4,565,BROWN,IL,0.018,5836,324.222222,5264,547,14,5,...,4815,82.505140,13.520249,13.022889,11.143211,19.200000,0,AAR,0.085675,small

In [9]:
ms_new.tail()

,PID,county,state,area,total,popdensity,popwhite,popblack,popamerindian,asian,...,poppovertyknown,percpovertyknown,percbelowpoverty,percchildbelowpovert,percadultpoverty,percelderlypoverty,inmetro,category,ratio,group
432,3048,WAUKESHA,WI,0.034,304715,8962.205880,298313,1096,672,2699,...,299802,98.387674,3.121060,3.785820,2.590061,4.085479,1,HLU,0.885746,large
433,3049,WAUPACA,WI,0.045,46104,1024.533330,45695,22,125,92,...,44412,96.330036,8.488697,10.071411,6.953799,10.338641,0,AAR,0.199549,small
434,3050,WAUSHARA,WI,0.037,19385,523.918919,19094,29,70,43,...,19163,98.854785,13.786985,20.050708,11.695784,11.804558,0,AAR,0.221821,small
435,3051,WINNEBAGO,WI,0.035,140320,4009.142860,136822,697,685,1728,...,133950,95.460376,8.804031,10.592031,8.660587,6.661094,1,HAU,1.231471,large
436,3052,WOOD,WI,0.048,73605,1533.437500,72157,90,481,722,...,72685,98.750085,8.525831,11.162997,7.375656,7.882918,0,AAR,0.980912,large