### 변수를 이용한 연산

In [3]:
a=1
b=2
a+b

3

In [4]:
c=3
a+b+c

6

In [5]:
4/b

2.0

In [6]:
5*b

10

### 여러 값으로 구성된 변수 만들기

In [7]:
var1 = [1,2,3]
var1

[1, 2, 3]

In [8]:
var2=[4,5,6]
var2

[4, 5, 6]

In [9]:
var1+var2

[1, 2, 3, 4, 5, 6]

### 문자로 된 변수 만들기

In [10]:
str1 = 'a'
str1

'a'

In [11]:
str2 = 'text'
str2

'text'

In [12]:
str3 = 'Hello world'
str3

'Hello world'

In [13]:
str4 = ['a', 'b', 'c']
str4

['a', 'b', 'c']

In [14]:
str2 + str3

'textHello world'

In [15]:
str2 + ' ' + str3

'text Hello world'

In [16]:
str1 + 2

TypeError: can only concatenate str (not "int") to str